<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/performance">Performance</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">

        {%for row in performance_data%}
        <div class="col-md-4">
            <div class="card mb-3" style="background-color: #e3f2fd;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{row[0]}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Performance Measures</h6>
                    <p class="card-text">Mean Square Error: <strong>{{row[1][0]}}</strong></p>
                    <p class="card-text">Mean Absolute Error: <strong>{{ row[1][1] }}</strong></p>
                    <p class="card-text">R2 Score: <strong>{{ row[1][2] }}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"></script>
</body>
</html>
